@font-face {
  font-family: "American Typewriter";
  src: url("../fonts/dehinted-AmericanTypewriter.ttf");
}
body {
  font-family: Poppins, sans-serif;
  color: #50676C;
}

.header-top {
  font-family: "DM Serif Display", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #50676C;
  color: #E0E0E0;
  padding: 27px 12.5%;
}
@media (max-width: 992px) {
  .header-top {
    gap: 30px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.logo img {
  height: 100px;
}
@media (max-width: 1500px) {
  .logo img {
    height: 70px;
  }
}
@media (max-width: 500px) {
  .logo img {
    height: 50px;
  }
}

.header-title {
  font-size: 38px;
  line-height: 38px;
  text-transform: capitalize;
}
@media (max-width: 1500px) {
  .header-title {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .header-title {
    font-size: 26px;
    line-height: 30px;
    word-wrap: break-word;
  }
}
@media (max-width: 500px) {
  .header-title {
    font-size: 22px;
    line-height: 20px;
  }
}

.header-menu {
  background: #50676C;
  color: #E0E0E0;
  border-top: 1px solid rgba(211, 211, 211, 0.5);
}

.header-list {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}
@media (max-width: 992px) {
  .header-list {
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    position: absolute;
    visibility: hidden;
    top: 120px;
    right: 0;
    width: 100%;
    height: 270px;
    padding: 50px;
    background: #50676C;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    z-index: 100;
  }
}
@media (max-width: 500px) {
  .header-list {
    top: 155px;
    border: none;
  }
}

.header-list a:hover {
  color: #FF0000;
  border-bottom: 2px solid #FF0000;
  padding-bottom: 15px;
}
@media (max-width: 992px) {
  .header-list a:hover {
    padding-bottom: 6px;
  }
}

.header-action_top {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media (max-width: 992px) {
  .header-action_top {
    display: none;
  }
}

.header-action_top img,
.header-action img,
.footer-action img {
  width: 30px;
  cursor: pointer;
}

.header-action {
  background: #50676C;
  display: none;
}
@media (max-width: 992px) {
  .header-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin: 0 auto;
    padding: 10px;
  }
}

.icon path,
.icon-2 path {
  transition: 0.3s;
}

.icon:hover path {
  fill: #FF0000;
}

.icon-2:hover path {
  stroke: #FF0000;
}

.visible {
  visibility: visible;
  transition: 0.3s;
}

.header-burger {
  display: none;
  width: 26px;
  height: 26px;
  background: #50676C;
  border: none;
}
@media (max-width: 992px) {
  .header-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .header-burger:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 26px;
    background: #E0E0E0;
    top: 3px;
    right: 0;
    transition: 0.3s;
  }
  .header-burger:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 26px;
    background: #E0E0E0;
    bottom: 3px;
    transition: 0.3s;
  }
}

.header-line {
  height: 3px;
  width: 26px;
  background: #E0E0E0;
  transform: scale(1);
}

.header-burger.active .header-line {
  transform: scale(0);
}

.header-burger.active:before {
  width: 26px;
  top: 44%;
  transform: rotate(-45deg);
}

.header-burger.active:after {
  bottom: 45%;
  transform: rotate(45deg);
}

.header-hero {
  background: url("../imgs/hero.png") left bottom;
  background-size: cover;
  padding: 250px 5% 250px 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  .header-hero {
    height: 500px;
    padding: 100px 10% 60px;
  }
}
@media (max-width: 500px) {
  .header-hero {
    height: 350px;
    padding: 60px 6% 20px;
  }
}

.header-hero-text {
  font-size: 44px;
  line-height: 50px;
  color: #B0C4DE;
  text-align: right;
  border: none;
  border-radius: 20px;
  max-width: 800px;
}
@media (max-width: 992px) {
  .header-hero-text {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .header-hero-text {
    font-size: 28px;
    line-height: 30px;
  }
}

.header-bottom {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  color: #E0E0E0;
  background: #50676C;
  padding: 92px 13%;
  margin-top: -1px;
}
@media (max-width: 1500px) {
  .header-bottom {
    font-size: 28px;
    padding: 70px 10%;
  }
}
@media (max-width: 992px) {
  .header-bottom {
    font-size: 22px;
    line-height: 30px;
    padding: 50px 10%;
  }
}
@media (max-width: 500px) {
  .header-bottom {
    text-align: justify;
    font-size: 18px;
    padding: 30px 10%;
  }
}

.title {
  font-size: 52px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin: 70px auto 0;
  padding: 10px;
  width: fit-content;
  text-transform: uppercase;
  border-top: 3px solid #FF0000;
}
@media (max-width: 992px) {
  .title {
    font-size: 32px;
    line-height: 38px;
    margin: 50px auto 0;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 28px;
    line-height: 30px;
  }
}

.text-block,
.values {
  padding: 50px 100px 0;
}
@media (max-width: 992px) {
  .text-block,
  .values {
    padding: 30px 50px 0;
  }
}
@media (max-width: 500px) {
  .text-block,
  .values {
    padding: 20px 10% 0;
  }
}

.text,
.text-frame {
  font-family: "American Typewriter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
@media (max-width: 992px) {
  .text,
  .text-frame {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .text,
  .text-frame {
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
  }
}

.text:first-letter {
  font-size: 40px;
  padding: 0 5px;
  color: #FFFFFF;
  background: #FF0000;
  border-radius: 15px;
}

.text-frame {
  border: 2px solid #50676C;
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
}

.swiper-container {
  padding: 0 100px;
}
@media (max-width: 992px) {
  .swiper-container {
    padding: 0 50px;
  }
}
@media (max-width: 600px) {
  .swiper-container {
    padding: 0 1px;
  }
}

.swiper {
  height: 600px;
  position: relative;
  margin-top: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.swiper-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 15%;
  background: rgba(80, 103, 108, 0.7);
}
@media (max-width: 500px) {
  .swiper-content {
    padding: 15% 7%;
  }
}

.swiper-text {
  font-family: "American Typewriter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 992px) {
  .swiper-text {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .swiper-text {
    font-size: 18px;
    line-height: 24px;
  }
}

.team {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 992px) {
  .team {
    padding-left: 70px;
  }
}
@media (max-width: 600px) {
  .team {
    background-image: url("../imgs/backgr.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 0 20px 20px 20px;
  }
}

.team-member {
  display: flex;
  background: #E0E0E0;
  height: 350px;
}
@media (max-width: 992px) {
  .team-member {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .team-member {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: auto;
    background: none;
  }
}

.team-member-img {
  overflow: hidden;
}
@media (max-width: 600px) {
  .team-member-img {
    height: 250px;
  }
}

.team-member-img img {
  height: 100%;
  object-fit: cover;
}

.team-member-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  margin: 0 auto;
  width: 70%;
  font-family: "American Typewriter", sans-serif;
}
@media (max-width: 992px) {
  .team-member-text {
    padding: 0 30px;
  }
}
@media (max-width: 600px) {
  .team-member-text {
    width: 100%;
    padding: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    border: 2px solid #FF0000;
    border-radius: 30px;
  }
}

.team-member-name {
  font-size: 28px;
}
@media (max-width: 992px) {
  .team-member-name {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .team-member-name {
    text-align: center;
    font-size: 18px;
  }
}

.team-member-info {
  font-size: 22px;
  line-height: 30px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .team-member-info {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 500px) {
  .team-member-info {
    font-size: 16px;
    text-align: justify;
  }
}

.values {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.values .text {
  text-align: initial;
}
@media (max-width: 500px) {
  .values .text {
    text-align: justify;
  }
}

.text span {
  font-weight: 600;
}

.text a {
  color: #FF0000;
}

.text a:hover {
  color: #50676C;
}

.schools {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../imgs/schools.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.schools-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 10px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 640px) {
  .schools-container {
    padding: 50px 0 50px;
    gap: 15px;
  }
}

.schools-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #E0E0E0;
  border-radius: 30px;
  border: 2px #FF0000 solid;
  padding: 20px;
  width: 30%;
}
@media (max-width: 992px) {
  .schools-item {
    width: 45%;
  }
}
@media (max-width: 640px) {
  .schools-item {
    width: 80%;
  }
}

.schools-name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #FF0000;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .schools-name {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  .schools-name {
    font-size: 18px;
    margin-top: 20px;
  }
}

.schools-address {
  font-size: 16px;
  text-align: center;
}

.schools-trainers {
  font-family: "American Typewriter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.schools-trainer {
  text-align: center;
}

.schools-trainer-name {
  font-weight: 600;
  margin-bottom: 10px;
}

footer {
  background: #50676C;
  color: #E0E0E0;
  margin-top: -1px;
}

.footer {
  padding: 70px 5%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1050px) {
  .footer {
    padding: 30px 5%;
  }
}
@media (max-width: 992px) {
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .footer {
    gap: 15px;
    flex-wrap: nowrap;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
@media (max-width: 1200px) {
  .footer-nav {
    width: 400px;
  }
}
@media (max-width: 992px) {
  .footer-nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .footer-nav {
    width: auto;
  }
}

.footer-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .footer-title {
    font-size: 18px;
  }
}

.footer-title:hover {
  color: #FF0000;
}

.footer-line-l {
  width: 1px;
  height: 90px;
  background: rgba(211, 211, 211, 0.5);
}

.footer-list {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 500px) {
  .footer-list {
    font-size: 14px;
  }
}

.footer-list a:hover {
  color: #FF0000;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (max-width: 500px) {
  .footer-contacts {
    gap: 5px;
  }
}

.footer-contacts-item {
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 500px) {
  .footer-contacts-item {
    font-size: 14px;
    gap: 18px;
  }
}

.footer-contacts-item a:hover {
  color: #FF0000;
}

.footer-icon {
  width: 32px;
  height: 32px;
}

.footer-line-s {
  width: 1px;
  height: 32px;
  background: rgba(211, 211, 211, 0.5);
}
@media (max-width: 500px) {
  .footer-line-s {
    display: none;
  }
}

.footer-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin: 0 auto;
  padding: 10px;
  border-top: 1px solid rgba(211, 211, 211, 0.5);
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 20px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
